:root {
  --lg: linear-gradient(
    155deg,
    #ff1493 20%,
    #ffff00,
    #39ff14,
    #0092d0,
    #0092d0,
    #0e2148
  );
  --blueg: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  --purple: #660099;
  --dark-blue: #0e2148;
  --text: #00809d;
  --pink: #ff1493;
  --blue: #0092d0;
  --orange: #ffff00;
  --yellow: #39ff14;
  --white: white;
  --black: linear-gradient(55deg, #030303, #1d1616, #212121, #000000, #2c2c2c);
  --yoda: linear-gradient(to bottom, #ff0099, #493240);
  --electic-violet: linear-gradient(to bottom, #4776e9, #8e54e9);
  --transfile: linear-gradient(to bottom, #16bffd, #cb3066);
  --purple-bliss: linear-gradient(to bottom, #360033, #0b8793);
  --aqua: linear-gradient(to bottom, #50c9c3, #96deda);
  --gradient: linear-gradient(55deg, #ff33cc, #cc00ff);
  --h1: contrail one;
  --h2: anta;
  --p: mozilla headline;
  --font: bevan;
  --font1: yeseva one;
  --font2: londrina shadow;
  --shadow: 1px 1px 0 var(--blue), 0 0 15px var(--blue), 0 0 20px var(--purple);
  --shadow1: 1px 1px 0 var(--yellow), 0 0 15px var(--dark-blue),
    0 0 20px var(--blue);
  --glow-text-purple: 2px 0 0 var(--purple), 0 2px 0 var(--blue),
    0 0 10px var(--blue);
  --yellow-text: 2px 2px 0 var(--orange), 3px 3px 0 var(--pink),
    0 0 8px var(--pink);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--blueg);
  background-size: cover;
  background-position: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.geekychick-title {
  z-index: 100;
  position: relative;
  text-align: center;
  display: block;
  margin: 10px auto;
  font-size: 1.6rem;
  font-family: bricolage grotesque;
}
.geekychick-title h2 {
  position: relative;
  z-index: 102;
  background: var(--lg);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 375px;
  background-position: top center;
  margin-bottom: 10px;
  font-size: 3rem;
  padding: 1rem;
}
.geekychick-title p {
  color: var(--yellow);
  font-size: 1.8rem;
}
nav a li,
ul {
  font-size: 1.3rem;
  list-style: none;
  
}
.nav li {
  color: midnightblue;
  text-decoration: none;
  margin: 10px;
  padding: 0.25rem;
  font-family: russo one;
  text-shadow: 2px 0 0 var(--pink), 0 2px 0 var(--yellow);
}
.author-box {
  position: relative;
  left: 3rem;
  color: white;
  border: 2px solid var(--pink);
  border-radius: 10px;
  padding: 1rem;
  max-width: 500px;
  width: 93%;
  display: flex;
  flex-direction: column;
  background: var(--lg);
}
.personal-intro {
  text-align: center;
  padding: 1rem;
  font-family: wdxl lubrifont sc;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--blueg);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;
}
.personal-intro h1 {
  font-family: bricolage grotesque;
}
.nav {
  display: none;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 4rem;
  left: 0;
  background: var(--lg);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 2px 0 10px midnightblue;
  z-index: 501;
  transition: all 0.3s ease;
}
.open-nav {
  position: fixed;
  z-index: 505;
  top: 0;
  left: 1rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  background: var(--lg);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 10px;
  background-position: top left;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: russo one;
  border: none;
}
.close-nav {
  font-size: 1.4rem;
  background: none;
  border: none;
  color: midnightblue;
  font-weight: bold;
  font-family: russo one;
}'
 .close-nav:hover {
  transform: scale(1.5) rotate(10deg);
}
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 100px;
  perspective: 1000px;
  font-family: bricolage grotesque;
  position: fixed;
  top: 1rem;
  right: 0;
  text-align: center;
  padding: 0.5rem;
  z-index: 500;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flip-card-front {
  background: var(--yellow);
  color: midnightblue;
}
.flip-card-back {
  background: var(--lg);
  color: midnightblue;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}
.flip-card-back a {
  color: midnightblue;
  font-weight: bold;
}
.subscribe {
  background: var(--pink);
  padding: 1rem;
  border-radius: 3px;
  display: inline-flex;
  color: midnightblue;

 max-width: 1200px;
  width: 100%;
}
.hidden {
  opacity: 0;
  font-family: bricolage grotesque;
  font-size: 1.2rem;
  background: var(--blueg);
  color: var(--orange);
  padding: 0.5rem;
  border-radius: 8px;
  border: 3px solid var(--pink);
  transition: opacity 0.2s ease;
  display: flex;
  flex-direction: column;
}
label:hover + .hidden {
  opacity: 1;
}
.q-a-post {
  background-image: url("https://assets.codepen.io/13901299/codeback.jpg");
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;

  border-radius: 12px;
  padding: 1rem;
  max-width: 1100px;
  width: 95%;
  color: midnightblue;
  font-weight: bold;
}
.q-a-list {
  background: orange;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 500px 500px;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  max-width: 925px;
  margin: 5px auto;
  text-align: center;

}
.q-a-container {
  background: var(--pink);
  border-radius: 10px;
  border: 2px solid var(--blue);
  display: grid;
  grid-template-columns: repeat(3fr, 1fr);
  margin: 10px auto;
  max-width: 400px;
  width: 100%;
  height: 225px;
  padding: 1rem;
  align-items: center;
}
.q-a-post h1 {
  font-size: 2.3rem;
  font-family: russo one;
  background: var(--pink);
  border-radius: 10px;
  padding: 1rem;
  text-shadow: 0 2px 0 var(--orange);
}
.q-a-post h2 {
  font-family: russo one;
  font-size: 1.4rem;
  background: var(--blueg);
  color: var(--orange);
  padding: 2rem;
  border-radius: 10px;
  max-width: 700px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  letter-spacing: 1.5px;
  text-shadow: 0 2px 0 var(--pink);
}
.q-a-intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 900px;
  filter: drop-shadow(1px 0 0 midnightblue);
}

.intro {
  font-size: 1.6rem;
  font-family: wdxl lubrifont sc;
  max-width: 700px;
  background: var(--orange);
  border-radius: 5px;
  box-shadow: 2px 0 5px darkblue, 0 2px 5px var(--pink);
  padding: 0.25rem;
  text-shadow: 0 2px 0 var(--pink);
}
label {
  font-family: bricolage grotesque;
  font-size: 1.5rem;
  text-shadow: 1px 0 0 var(--orange), 0 1px 0 var(--yellow);
}
.troubleshooting-tips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 1300px;
  width: 100%;
  background: var(--lg);
  border-radius: 10px;
  padding: 1rem;
  font-family: bricolage grotesque;
  color: midnightblue;
  position: relative;
  z-index: 200;
}
.tip-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 40px;
  max-width: 1000px;
  width: 100%;

  font-family: bricolage grotesque;
}
.tip-card {
  perspective: 1000px;
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column;
  border: 3px solid var(--orange);
  gap: 10px;
  padding: 2rem;

  background: var(--blueg);
  border-radius: 10px;
  color: var(--yellow);
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
.flip-tip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
  text-align: center;
}
.tip-card:hover .flip-tip-inner {
  transform: rotateX(180deg);
}
.flip-tip-front,
.flip-tip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flip-tip-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.6rem;
  color: var(--orange);
}
.flip-tip-back {
  background: var(--orange);
  color: midnightblue;
  padding: 1rem;
  gap: 10px;
  margin: 5px;
  justify-content: center;
  font-size: 1.7rem;
  transform: rotateX(180deg);
  overflow-y: auto;
}
.flip-tip-back table,
thead,
tbody {
  font-size: 1rem;
  border-top: 2px solid var(--pink);
  border-right: 2px solid var(--pink);
}
.flip-tip-back th {
  border-bottom: 2px solid var(--pink);
  border-left: 2px solid var(--pink);
  color: var(--blue);
  font-size: 1.6rem;
}
.flip-tip-back td {
  border-bottom: 2px solid var(--pink);
  border-left: 2px solid var(--pink);
}
.author-img {
  position: relative;
  top: 1rem;
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  display: block;
  margin: 5px auto;
  height: 375px;
}
.image-author-sections {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  max-width: 1000px;
  width: 99%;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}
.tech-img {
  width: 350px;
  height: 300px;
}
.author-pic {
  background: var(--lg);
  position: relative;
  border: 2px solid var(--pink);
  width: 500px;
  height: 460px;
  border-radius: 10px;
  overflow: hidden;
}

.troubleshooting-tips .retired,
.blog-post-1,
.intro-p {
  position: relative;
  z-index: 300;
  background: var(--blueg);
  color: var(--orange);
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1.8rem;
}
.intro-p {
  font-size: 1.4rem;
}
form {
  width: 100%;
  padding: 0;
  position: relative;

  display: flex;
  flex-direction: column;
  background: var(--white);
  z-index: 600;
  text-align: center;
  gap: 20px;
  color: midnightblue;
  font-weight: bold;
  font-family: russo one;
  visibility: visible;
}
.book-appointment {
  display: none;
}
.book-appointment h3 {
  font-size: 2rem;
}
.close-form {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: var(--pink);
  font-weight: bold;
}
.book-appointment input {
  border: 3px solid var(--yellow);
  padding: 1.5rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
}
.submit {
  background: none;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  color: var(--pink);
}
.submit:hover {
  transform: scale(1.3);
  max-width: 40%;
  margin: 0 auto;
}


@media (max-width: 400px) {
  body {
    gap: 10px;
  }
  .geeky-chick-title {
    font-size: 1.3rem;
  }
  .geekychick-title h2 {
    font-size: 2rem;
    width: 300px;
  }
  .geekychick-title p {
    font-size: 1.4rem;
  }
  .nav li {
    padding: 1rem;
     
    font-size: 2rem;
  }
  .nav {
    padding: 1rem;
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    gap: 30px;
  }
  .open-nav {
    position: fixed;
    left: 0;
    top: 0;
  }
  .close-nav {
    font-size: 2rem;
  }
  .flip-card {
    width: 150px;
    height: 150px;
    padding: 0.5rem;
  }
  .subscribe {
   max-width: 400px;
   width: 100%;
    
  }
  .hidden {
    font-size: 1rem;
  }
  .q-a-post {
    gap: 15px;
    padding: .5rem;
    max-width: 400px;
    width: 100%;
  }
  .q-a-list {
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }
  .q-a-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 300px;
  }
  .q-a-post h1 {
    font-size: 2rem;
    max-width: 300px;
    
  }
  .q-a-post h2 {
    padding: 1rem;
    max-width: 300px;
    letter-spacing: 1.7px;
  }
  .q-a-intro {
    gap: 10px;
    width: 365px;
    
  }
  .intro {
    font-size: 1.4rem;
    max-width: 300px;
  }
  label {
    font-size: 1.3rem;
  }
  .troubleshooting-tips {
    max-width: 400px;
    width: 100%;
  }
  .tip-card-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 400px;
    justify-content: center;
    margin: 0 auto;
  }
  .tip-card {
    width: 325px;
    height: 500px;
    padding: 1.5rem;
    margin: 15px auto;
  }
  .flip-tip-front {
    font-size: 3rem;
  }
  .flip-tip-back {
    font-size: 1.6rem;
    font-weight: bold;
  }
  .image-author-sections {
    display: flex; 
    flex-direction: column;
    max-width: 350px;
  }
  .author-pic {
    width: 350px;
  }
  .author-img {
    width: 300px;
  }
  .personal-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    
  }
  .author-box {
    max-width: 400px;
    margin: 0 auto;
    left: 0;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  #email {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  .subscribe button {
    width: 300px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    background: orange;
    border: none;
    box-shadow: 2px 0 5px midnightblue;
  }
}